:root {
  /* colors */
  --dark-grey: rgb(40, 40, 40);
  --dark-grey-translucent: rgba(40, 40, 40, 0.95);
  --light-grey: rgb(250, 250, 250);
  --light-grey-translucent: rgba(250, 250, 250, 0.8);
  --red: rgb(230, 58, 65);
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* typography */
  --font-family: 'Inter', system-ui, sans-serif;
  --font-size: 18px;
  --font-size-small: 16px;
  --font-size-smaller: 14px;
  --font-size-big: 24px;
  --font-size-bigger: 32px;
  --line-height: 1.6;
  --line-height-heading: 1.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--light-grey);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  background-color: var(--dark-grey);
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
}

a::before {
  content: "-> ";
}

a[class*=am-]::before {
  content: inherit;
}

h1,
h2,
h3 {
  line-height: var(--line-height-heading);
}
