.author-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 60px;
}

.author-content a::before {
  content: none;
}

.author-content .user-editable {
  grid-column: 2 / span 2;
}

@media screen and (max-width: 700px) {
  .author-content {
    grid-template-columns: 1fr;
    margin-top: var(--mobile-navigation-item-height);
  }
}

@media screen and (max-width: 1000px) {
  .author-content {
    padding: 40px;
  }
}
