.author-content {
  padding: 60px 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.author-content * + .am-block {
  margin-top: 1em;
}

.author-content img {
  max-width: 100%;
}

.author-content a {
  color: var(--red);
}

.author-content a::before {
  content: none;
}

.editable {
  grid-column: 2 / span 2;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .author-content {
    margin-top: 75px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .author-content {
    padding: 40px;
  }
}
