.splash-message {
  position: fixed;
  inset: 0;
  z-index: 9;
  display: grid;
  place-items: center;
  padding: 10px;
  background-color: var(--grey-translucent);
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transform: translateY(5%);
}

.splash-message-visible {
  opacity: 1;
  transition-delay: 1s;
  transform: translateY(0);
}

.splash-message-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px 16px;
  font-size: 1.5em;
  color: inherit;
  cursor: pointer;
  background: none;
  border: 0;
}

.splash-message-close::before {
  display: inline;
  content: "×";
}

.splash-message-content {
  position: relative;
  width: min(100%, 680px);
  max-height: 90vh;
  padding: 50px;
  overflow-y: auto;
  color: var(--grey);
  background-color: var(--white);
}

/* as not to collide with the close button */
.splash-message-content .user-editable > :first-child {
  width: calc(100% - 30px);
  margin: 0;
}

@supports (backdrop-filter: blur()) {
  .splash-message-content {
    background-color: var(--white-translucent);
    backdrop-filter: blur(25px);
  }
}
