.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 60px;
  border-top: 3px solid var(--red);
}

.footer a {
  color: var(--red);
}

.footer-column-heading {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: var(--font-size-big);
}

.footer-column-paragraph-conserve-breaks {
  white-space: pre-line;
}

.footer-column-paragraph:not(:last-of-type) {
  margin-bottom: 1em;
}

.footer-navigation-item {
  display: block;
}

.footer-map {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.footer-map-link {
  display: inline-flex;
}

.footer-decoration {
  position: absolute;
  right: 50px;
  max-height: 50px;
  padding: 10px;
  background-color: var(--dark-grey);
  transform: translateY(-50%);
}

.footer .social-link {
  display: inline-flex;
  align-items: center;
}

.footer .social-icon {
  max-height: 18px;
  margin-right: 4px;
}

@media screen and (max-width: 1100px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding: 40px;
  }
}
