.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 60px;
  border-top: 3px solid var(--red);
}

.footer a {
  color: var(--red);
}

.footer-column-heading {
  display: block;
  margin-bottom: 1em;
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.footer-column-paragraph-conserve-breaks {
  white-space: pre-line;
}

.footer-column-paragraph:not(:last-of-type) {
  margin-bottom: 1em;
}

.footer-navigation-item {
  display: block;
}

.footer-map {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.footer-map-link {
  display: inline-flex;
}

.footer-decoration {
  position: absolute;
  right: 60px;
  width: 50px;
  padding: 10px;
  background-color: var(--grey);
  transform: translateY(-50%);
}

.footer .social-link {
  display: inline-flex;
  align-items: center;
}

.footer .social-icon {
  height: 18px;
  margin-right: 4px;
}

@media (width <= 1100px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 700px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 40px;
    margin-top: 40px;
  }
}
