.ie11 {
  position: fixed;
  padding: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-grey);
  z-index: 9;
}

.ie11 h1 {
  margin-top: 0;
}

.ie11 h2,
.ie11 p {
  margin-bottom: 0.67em;
}

.ie11 a {
  color: var(--red);
}

.ie11 a:not(:last-of-type) {
  margin-right: 0.67em;
}
