.author-content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 60px;
}

.user-editable {
  grid-column: 2;
  min-width: 0;
}

@media (width <= 700px) {
  .author-content {
    grid-template-columns: 1fr;
  }

  .user-editable {
    grid-column: 1;
  }
}

@media (width <= 1000px) {
  .author-content {
    padding: 40px;
  }
}
