.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  padding: 60px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  z-index: 1;
  grid-column: 2;
  align-self: center;
  padding: 35px 40px;
  color: var(--grey);
  background-color: var(--white-translucent);
}

.hero-tagline {
  margin-bottom: 0.5em;
  line-height: var(--line-height);
}

@media screen and (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr;
    height: auto;
    padding: 40px;
    background: none !important;
    aspect-ratio: auto;
  }

  .hero-no-text {
    display: none;
  }

  .hero-text {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}
