.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 70vh;
  padding: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  grid-column: 2;
  padding: 35px 40px;
  color: var(--grey);
  font-weight: bold;
  background-color: var(--white-translucent);
}

.hero-text > * + * {
  margin-top: 0.5em;
}

.hero-tagline {
  line-height: var(--line-height);
}

@media screen and (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr;
    height: initial;
    padding: 40px;
    background: initial !important;
  }

  .hero-no-text {
    display: none;
  }

  .hero-text {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}
