.hero {
  display: grid;
  height: 70vh;
  align-items: center;
  padding: 60px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  padding: 35px 40px;
  background-color: var(--white-translucent);
  color: var(--grey);
  font-weight: bold;
  grid-column: 2;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.hero-text-visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.hero-text > * + * {
  margin-top: 0.5em;
}

.hero-tagline {
  line-height: var(--line-height);
}

@media (width <= 1000px) {
  .hero {
    height: initial;
    padding: 40px;
    background: initial !important;
    grid-template-columns: 1fr;
  }

  .hero-no-text {
    display: none;
  }

  .hero-text {
    padding: 0;
    background-color: inherit;
    color: inherit;
  }
}
