/* overrides for variables provided by automad */
:root {
  --am-block-margin-top: 1em;
  --am-block-max-width: none;
  --am-button-background: var(--white);
  --am-button-border-color: var(--white);
  --am-button-border-radius: 5px;
  --am-button-color: var(--red);
  --am-button-hover-background: transparent;
  --am-button-hover-border-color: var(--white);
  --am-button-hover-color: var(--white);
  --am-button-margin: 0;
  --am-input-border: 2px solid var(--white-translucent);
  --am-input-focus-border: 2px solid var(--white);
}

/* overrides for non-configurable elements provided by automad */
.am-slider-dots,
.am-slider-prev,
.am-slider-next {
  cursor: pointer;
}

.am-slider-dots a::before {
  border: none;
  opacity: 0.5;
}

.am-slider-prev:hover,
.am-slider-next:hover {
  /* important needed bc of a rule by automad */
  opacity: 1 !important;
}

/* higher specificity to override general user-editable styles */
.am-slider .am-slider-prev,
.am-slider .am-slider-next {
  color: inherit;
}

/* fix overlapping buttons on mobile and add animations */
.am-button {
  position: relative;
  display: inline-flex;
  padding-inline: 1.5em;
  margin-block: 0.1em;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: padding, background-color, color, border-color;
}

.am-button::after {
  position: absolute;
  right: 1.5em;
  z-index: -1;
  align-self: center;
  color: white;
  content: " ->";
  transition: transform 0.25s ease-in-out;
}

.am-button:hover,
.am-button:focus {
  padding-right: 2em;
  padding-left: 1em;
}

.am-button:hover::after,
.am-button:focus::after {
  transform: translateX(0.75em);
}

/* hide figcaption visually but keep it for seo and a11y purposes */
.am-block figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}
