.hero {
  height: 80vh;
  position: relative;
  display: grid;
  padding: 160px 60px 60px;
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  margin: 0;
  padding: 50px;
  grid-column: 2;
  align-self: center;
  z-index: 1;
  background-color: var(--light-grey-translucent);
  color: var(--dark-grey);
}

.hero-tagline {
  display: block;
  font-size: var(--font-size-bigger);
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero-cta {
  font-size: var(--font-size-big);
  font-weight: bold;
  color: var(--red);
}

@media screen and (max-width: 1000px) {
  .hero {
    aspect-ratio: auto;
    height: 90vh;
    background: none;
    grid-template-columns: 1fr;
    padding: 115px 40px 40px;
  }

  .hero-text {
    color: inherit;
    background-color: inherit;
    padding: 0;
  }
}
