/* overrides for variables provieded by automad */
:root {
  --am-block-margin-top: 1em;
  --am-block-max-width: none;
  --am-button-background: var(--white);
  --am-button-border-color: var(--white);
  --am-button-border-radius: 5px;
  --am-button-color: var(--red);
  --am-button-hover-background: transparent;
  --am-button-hover-border-color: var(--white);
  --am-button-hover-color: var(--white);
  --am-button-margin: 0;
  --am-input-border: 2px solid var(--white-translucent);
  --am-input-focus-border: 2px solid var(--white);
}

/* overrides for non-configurable elements provided by automad */
.am-slider-dots,
.am-slider-prev,
.am-slider-next {
  cursor: pointer;
}

.am-slider-dots a::before {
  border: none;
  opacity: 0.5;
}

.am-slider-prev:hover,
.am-slider-next:hover {
  /* important needed bc of a rule by automad */
  opacity: 1 !important;
}

/* higher specificity to override general user-editable styles */
.am-slider .am-slider-prev,
.am-slider .am-slider-next {
  color: inherit;
}

/* fix overlapping buttons on mobile */
.am-button {
  margin-block: 0.1em;
}

/* hide figcaption visually but keep it for seo and a11y purposes */
.am-block figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}
