.user-editable * {
  margin: 0;
}

.user-editable :not(:last-child) {
  margin-bottom: 0.5em;
}

.user-editable a {
  color: var(--red);
}

.user-editable img {
  max-width: 100%;
}

.user-editable hr {
  margin: 0.5em auto;
  color: var(--shadow-color);
}
