.user-editable h1,
.user-editable h2,
.user-editable h3,
.user-editable h4 {
  hyphens: auto;
}

.user-editable a {
  color: var(--red);
}

.user-editable img {
  max-width: 100%;
}

.user-editable hr {
  color: var(--shadow-color);
}

.user-editable ul,
.user-editable ol {
  margin-left: 1em;
}
