:root {
  --navigation-shadow-color: rgba(0, 0, 0, 0.2);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-grey-translucent);
  backdrop-filter: blur(25px);
  font-weight: bold;
  box-shadow: 0 2px 4px var(--navigation-shadow-color);
  z-index: 9;
  padding: 0 60px;
}

.navigation-list {
  margin: auto;
  display: flex;
  height: 100px;
  max-width: 1440px;
}

.navigation-item {
  display: inline-flex;
  align-self: center;
}

.navigation-item:first-of-type {
  margin-right: auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  padding: 12.5px;
  position: relative;
}

.navigation-link::before {
  content: none;
}

.navigation-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--red);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease-in-out;
}

.navigation-link:hover::after {
  transform: scaleY(1);
}

.navigation-logo {
  height: 40px;
}

.navigation-toggle-mobile {
  font: inherit;
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  display: none;
  pointer-events: none;
}

.navigation-toggle-mobile::after {
  display: inline-flex;
  content: '->';
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .navigation {
    padding: 0 40px;
    transition: transform 0.5s ease-in-out;
    transform: translateY(calc(-6 * 75px));
  }

  .navigation-expanded {
    transform: translateY(0);
  }

  .navigation-logo {
    height: 30px;
  }

  .navigation-list {
    flex-wrap: wrap-reverse;
    height: auto;
  }

  .navigation-item {
    flex-basis: 100%;
    height: 75px;
    align-items: center;
  }

  .navigation-item:nth-of-type(1) {
    flex-basis: 80%;
    justify-content: start;
  }

  .navigation-item:nth-of-type(2) {
    flex-basis: 20%;
    justify-content: end;
  }

  .navigation-item:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    border-bottom: 1px solid var(--light-grey-translucent);
  }

  .navigation-link {
    padding: 0;
  }

  .navigation-item:first-of-type .navigation-link {
    margin-left: 0;
  }

  .navigation-toggle-mobile {
    display: inline-flex;
    pointer-events: auto;
  }

  .navigation-expanded .navigation-toggle-mobile::after {
    transform: rotate(-90deg);
  }
}
