*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: rgb(40, 40, 40);
  color: rgb(250, 250, 250);
}

body {
  padding: 200px;
  font-weight: 500;
}

h1,
h2,
p {
  margin-bottom: 0.5em;
}

a {
  color: rgb(230, 58, 65);
}

a:not(:last-of-type) {
  margin-right: 0.5em;
}

small {
  display: block;
  margin-top: 3em;
}
