.splash-message {
  position: fixed;
  z-index: 9;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: var(--dark-grey-translucent);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  inset: 0;
}

.splash-message-visible {
  opacity: 1;
  pointer-events: auto;
}

.splash-message-fading-out {
  opacity: 0;
}

.splash-message-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px 16px;
  color: inherit;
  font-size: 1.5em;
  background: none;
  border: 0;
  cursor: pointer;
}

.splash-message-close::before {
  display: inline;
  content: '×';
}

.splash-message-content {
  padding: 50px;
  color: var(--dark-grey);
  font-weight: 500;
}

@supports (backdrop-filter: blur()) {
  .splash-message-content {
    background-color: var(--light-grey-translucent);
    backdrop-filter: blur(25px);
  }
}

.splash-message-content p {
  margin-top: 1em;
}

.splash-message-content h2 {
  margin-top: 0;
}

.splash-message-content a {
  color: var(--red);
}

.splash-message-content a::before {
  content: none;
}
