.banner {
  height: 20vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (width <= 700px) {
  .banner {
    display: none;
    background-image: none;
  }
}
