.navigation {
  position: fixed;
  inset: 0 0 auto;
  z-index: 10;
  background-color: var(--grey-translucent);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px var(--shadow-color);
}

.navigation-list {
  max-width: 1440px;
  margin: 0 auto;

  @media (width >= 1000px) {
    display: grid;
    grid-template-columns: auto 1fr;

    > * {
      min-width: 0;
    }
  }
}

.navigation-group {
  display: grid;

  > * {
    min-width: 0;
  }

  &.controls {
    padding: 20px 30px;

    @media (width >= 1000px) {
      padding: 25px 30px;
    }
  }

  &.items {
    grid-template-rows: 0fr;
    padding: 0 30px;
    transition:
      grid-template-rows 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    will-change: grid-template-rows, padding;

    .expanded & {
      grid-template-rows: 1fr;
      padding: 20px 30px 25px;
    }

    @media (width >= 1000px) {
      will-change: auto;
      grid-template-rows: 1fr;
      place-items: center end;
    }
  }
}

.navigation-group-list {
  overflow: hidden;
  list-style: none;

  @media (width >= 1000px) {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.navigation-logo {
  display: block;
  width: auto;
  max-width: 100%;
  height: 40px;

  @media (width >= 1000px) {
    height: 50px;
  }
}

.navigation-link {
  position: relative;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;

  &::after {
    position: absolute;
    inset: 95% 0 auto;
    z-index: -1;
    height: 3px;
    content: "";
    background-color: var(--red);
    transition: scale 0.2s ease-in-out;
    transform-origin: bottom;
    scale: 1 0;
  }

  &:hover,
  &:focus-visible,
  &.current {
    &::after {
      scale: 1 1;
    }
  }

  &.home {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center start;

    &::after {
      content: none;
    }
  }
}

.navigation-toggle-mobile {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center end;
  cursor: pointer;
  background: none;
  border: 0;
  transition: rotate 0.3s ease-in-out;

  .expanded & {
    rotate: 180deg;
  }

  @media (width >= 1000px) {
    display: none;
  }
}

.navigation-item {
  & + & {
    margin-top: 20px;
  }

  @media (width >= 1000px) {
    display: inline-block;

    & + & {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
