.navigation {
  position: fixed;
  z-index: 9;
  backdrop-filter: blur(25px);
  background-color: var(--grey-translucent);
  box-shadow: 0 2px 4px var(--shadow-color);
  font-weight: bold;
  inset: 0 0 auto 0;
  padding-inline: 60px;
}

.navigation-list {
  display: flex;
  width: min(100%, 1440px);
  height: 100px;
  margin-inline: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.navigation-item {
  display: inline-flex;
  align-self: center;
}

.navigation-item:first-of-type {
  margin-right: auto;
}

.navigation-link {
  position: relative;
  display: inline-flex;
  padding: 12.5px;
  color: inherit;
  text-decoration: none;
}

.navigation-link::after {
  position: absolute;
  height: 3px;
  background-color: var(--red);
  content: "";
  inset: auto 0 0 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease-in-out;
}

.navigation-link-current::after,
.navigation-link:hover::after {
  transform: scaleY(1);
}

.navigation-logo {
  height: 45px;
}

.navigation-toggle-mobile {
  display: none;
  border: 0;
  background: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  pointer-events: none;
}

.navigation-toggle-mobile::after {
  display: inline-flex;
  content: "->";
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .navigation.navigation-expanded {
    transform: translateY(0);
  }

  .navigation {
    padding: 0 40px;
    transform: translateY(calc(-1 * var(--mobile-navigation-links) * var(--mobile-navigation-link-height)));
  }

  .navigation-animating {
    transition: transform 0.5s ease-in-out;
  }

  .navigation-logo {
    height: 30px;
  }

  .navigation-list {
    height: auto;
    flex-wrap: wrap-reverse;
    overflow-x: unset;
  }

  .navigation-item {
    height: var(--mobile-navigation-link-height, 70px);
    flex-basis: 100%;
    align-items: center;
  }

  .navigation-item:nth-of-type(1) {
    flex-basis: 80%;
    justify-content: start;
  }

  .navigation-item:nth-of-type(2) {
    flex-basis: 20%;
    justify-content: flex-end;
  }

  .navigation-link {
    padding: 0;
  }

  .navigation-item:first-of-type .navigation-link {
    margin-left: 0;
  }

  .navigation-item:nth-of-type(1) .navigation-link::after,
  .navigation-item:nth-of-type(2) .navigation-link::after {
    content: none;
  }

  .navigation-toggle-mobile {
    display: inline-flex;
    pointer-events: auto;
  }

  .navigation-expanded .navigation-toggle-mobile::after {
    transform: rotate(-90deg);
  }
}
